Dockerfile
docker-compose.yml


config.yaml
apiclient
.oyster
oyster.yml


### Python ###
# __pycache__
*.pys
**/*.pys
# *.pyc
# **/*.pyc

### Redis ###
dump.rdb

### Editors and User Specific ###
.vscode
.idea

### Misc. ###
data/
model/
refs/